- var className = "testing" 
- var mySkills = ["HTML", "Pug Js", "CSS", "SASS", "JS", "Node Js"]
- var friends = 3

//- interpolation vars
- 
    var theName = "Abram"
    var tagedText = "<b>bold</b>"